/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
.card {
	height: 200px;
	width: 150px;
	border: 1px solid #000000;
	background-color: #ffff00;
	border-radius: 10px;
	float: left;
	margin: 8%;
}

h1 {
	color: rgb(2, 132, 130);
	text-align: center;
}

h2 {
	color: #ffd700;
	text-align: center;
}

h3 { 
	text-align: center;
}

p {
	text-align: center;
}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
}

footer {
	text-align: center;
	background-color: #808080;
}

img {
	height: 200px;
 	width: 150px;
}


span {
	color:#ff0000;
}

nav {
	background-color: #808080;
}

a{
	background-color: #ffbf00;
	color: #ffffff;
	padding: 35px;
	display: block;
	float: left;
}

a:hover {
	background-color: #ee5f3c;
}

.clearfix:after {
	visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}


